<?xml version="1.0" ?>
<config>
    <modules>
        <Pashkevich_Feedback>
            <version>0.0.1</version>
        </Pashkevich_Feedback>
    </modules>
    <frontend>
        <layout>
            <updates>
                <feedback>
                    <file>pashkevich_feedback.xml</file>
                </feedback>
            </updates>
        </layout>
        <routers>
            <feedback>
                <use>standard</use>
                <args>
                    <module>Pashkevich_Feedback</module>
                    <frontName>feedback</frontName>
                </args>
            </feedback>
        </routers>
    </frontend>
    <admin>
        <routers>
            <feedback_admin>
                <use>admin</use>
                <args>
                    <module>Pashkevich_Feedback</module>
                    <frontName>feedback_admin</frontName>
                </args>
            </feedback_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <feedback module="feedback">
                <title>Feedbacks</title>
                <sort_order>77</sort_order>
                <action>feedback_admin/adminhtml_feedback</action>
            </feedback>
        </menu>
    </adminhtml>
    <global>
        <models>
            <feedback>
                <class>Pashkevich_Feedback_Model</class>
                <resourceModel>feedback_resource</resourceModel>
            </feedback>
            <feedback_resource>
                <class>Pashkevich_Feedback_Model_Resource</class>
                <entities>
                    <table_feedbacks>
                       <table>pashkevich_feedbacks_entities</table>
                    </table_feedbacks>
                </entities>
            </feedback_resource>
        </models>
        <helpers>
            <feedback>
                <class>Pashkevich_Feedback_Helper</class>
            </feedback>
        </helpers>
        <blocks>
            <feedback>
                <class>Pashkevich_Feedback_Block</class>
            </feedback>
        </blocks>
        <resources>
            <feedback_setup>
                <setup>
                    <module>Pashkevich_Feedback</module>
                </setup>
            </feedback_setup>
        </resources>
    </global>
</config>